<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Discente</title>
</head>
<body>
<h1>Discentes</h1>
<a href="/discentes/novo">Adicionar Discente</a>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Email</th>
        <th>Telefone</th>
        <th>CPF</th>
        <th>Data Nascimento</th>
        <th>Registro Academico</th>
        <th>Data de Ingresso</th>
        <th>Status</th>
        <th>Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="discente : ${discentes}">
        <td th:text="${discente.idDiscente}"></td>
        <td th:text="${discente.getPessoa.nome}"></td>
        <td th:text="${discente.getPessoa.email}"></td>
        <td th:text="${discente.pessoa.telefone}"></td>
        <td th:text="${discente.pessoa.cpf}"></td>
        <td th:text="${discente.pessoa.dataNascimento}"></td>
        <td th:text="${discente.dataIngresso}"></td>
        <td th:text="${discente.registroAcademico}"></td>
        <td th:text="${discente.statusFormatado()}"></td>
        <td>
            <a th:href="@{/discentes/editar/{id}(id=${discente.id})}">Editar</a>
            <a th:href="@{/discentes/deletar/{id}(id=${discente.id})}">Deletar</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
