<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Discente</title>
</head>
<body>
<h1>Discentes</h1>
<a href="novo">Adicionar Discente</a>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Email</th>
        <th>Registro Academico</th>
        <th>Data de Ingresso</th>
        <th>Status</th>
        <th>Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="discente : ${discentes}">
        <td th:text="${discente.idDiscente}"></td>
        <td th:text="${discente.pessoa.nome}"></td>
        <td th:text="${discente.pessoa.email}"></td>
        <td th:text="${discente.registroAcademico}"></td>
        <td th:text="${#temporals.format(discente.dataIngresso, 'dd/MM/yyyy')}"></td>
        <td th:text="${discente.getStatusFormatado()}"></td>
        <td>
            <a th:href="@{/discentes/editar/{id}(id=${discente.idDiscente})}">Editar</a>
            <a th:href="@{/discentes/deletar/{id}(id=${discente.idDiscente})}">Deletar</a>
            <a th:href="@{/discentes/{id}(id=${discente.idDiscente})}">Mais informações</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
