<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Disciplinas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <a href="/" class="btn btn-secondary mb-3">Voltar para o Início</a>
    <h1>Disciplinas</h1>
    <a th:href="@{/matriculas/discente/{id}(id=${discenteId})}" class="btn btn-sm btn-info">Adicionar Disciplina</a>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Nome</th>
            <th>Carga Horária</th>
            <th>Valor Mensal</th>
            <th>Professor</th>
            <th>Horários</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="disciplina : ${disciplinas}">
            <td th:text="${disciplina.nomeDisciplina}"></td>
            <td th:text="${disciplina.cargaHoraria}"></td>
            <td th:text="${disciplina.valorMensalFormatado()}"></td>
            <td th:text="${disciplina.professor.pessoa.nome}"></td>
            <td>
                <ul class="list-unstyled mb-0">
                    <li th:each="horario, iterStat : ${disciplina.horarios}" th:if="${iterStat.index < 3}">
                        <strong th:text="${horario.diaSemana}"></strong>:
                        <span th:text="${horario.horaInicio}"></span> -
                        <span th:text="${horario.getHoraFim}"></span> |
                        Sala: <span th:text="${horario.numeroSala}"></span>
                    </li>
                    <li th:if="${#lists.size(disciplina.horarios) > 3}">
                    </li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>

    <!-- Botão Voltar -->
    <div class="d-flex justify-content-start">
        <a th:href="@{/discentes}" class="btn btn-secondary">Voltar à Lista</a>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
</body>
</html>
